.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  cursor: pointer;
}

.modal {
  height: 40vh;
  width: 60%;
  margin: auto;
  z-index: 10;
  background-color: rgb(94, 196, 236);
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  z-index: 15;

}
